#projects_with_contributors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & dt::after {
    content: "" !important;
  }
  & div {
    flex-basis: 16%;
    margin: 10px;
  }
  & dt img {
    height: 150px;
  }
  & dt {
    text-align: center;
  }
  & dd {
    margin-left: 0;
  }
  & dd p {
    text-align: center;
  }
  & dd p:first-child {
    font-family: Arial;
    font-size: 13px;
    color: #AAAAAA;
  }
  & dd p:last-child {
    font-family: Arial;
    font-size: 17px;
    color: #999999;
  }
}

div.main:has(#projects_with_contributors) {
  max-width: none !important;
}
