
<table>
<tbody>
{%- for project in site.data.projects -%}
    {%- if project["Level"] != 'emeritus' -%}
    <tr>
        <td><img id="{{ project["Name"] }}" src="{{ project["Logo URL"] }}" /></td>
        <td>
            {%- if project["Github Org"] -%}
            Repo: <a href="{{ project["Github Org"] }}">{{ project["Github Org"] }}</a><br />
            {%- elsif project["Primary Github Repo"] -%}
            Repo: <a href="{{ project["Primary Github Repo"] }}">{{ project["Primary Github Repo"] }}</a><br />
            {%- endif -%}
            {%- if project["Website"] and project["Website"] != 'none' -%}
            Website: <a href="{{ project["Website"] }}">{{ project["Website"] }}</a><br />
            {%- endif -%}
            {%- if project["Dev Mailing List"] and project["Dev Mailing List"] != 'none' -%}
            Dev Mailing List: <a href="{{ project["Dev Mailing List"] }}">{{ project["Dev Mailing List"] }}</a><br />
            {%- endif -%}
            {%- if project["User Mailing List"] and project["User Mailing List"] != 'none' -%}
            User Mailing List: <a href="{{ project["User Mailing List"] }}">{{ project["User Mailing List"] }}</a><br />
            {%- endif -%}
            {%- if project["Mailing List"] and project["Mailing List"] != 'none' -%}
            Mailing List: <a href="{{ project["Mailing List"] }}">{{ project["Mailing List"] }}</a><br />
            {%- endif -%}
            {%- if project["Slack"] and project["Slack"] != 'none' -%}
            {{ assign slackstart = project["Slack"] | slice: 0 }}
            {%- if slackstart == "#" %}
            Slack: <a href="{{ site.slack_url }}">{{ project["Slack"] }}</a><br />
            {%- elsif project["Slack"] -%}
            Slack: <a href="{{ project["Slack"] }}">{{ project["Slack"] }}</a><br />
            {%- endif -%}
            {%- endif -%}
            {%- if project["LFX Insights URL"] and project["LFX Insights URL"] != 'none' -%}
            LFX Insights: <a href="{{ project["LFX Insights URL"] }}">{{ project["LFX Insights URL"] }}</a><br />
            {%- endif -%}
            {%- if project["LFX Security URL"] and project["LFX Security URL"] != 'none' -%}
            LFX Security: <a href="{{ project["LFX Security URL"] }}">{{ project["LFX Security URL"] }}</a><br />
            {%- endif -%}
            {%- if project["Documentation"] and project["Documentation"] != 'none' -%}
            Documentation: <a href="{{ project["Documentation"] }}">{{ project["Documentation"] }}</a><br />
            {%- endif -%}
            {%- if project["Chair"] and project["Chair"] != 'none' -%}
            Chair(s): {{ project["Chair"] }}<br />
            {%- endif -%}
            {%- if project["Calendar"] and project["Calendar"] != 'none' -%}
            Public Calendar: <a href="{{ project["Calendar"] }}">{{ project["Calendar"] }}</a><br />
            {%- endif -%}
            {%- if project["iCal"] and project["iCal"] != 'none' -%}
            iCal: <a href="{{ project["iCal"] }}">{{ project["iCal"] }}</a><br />
            {%- endif -%}
            {%- if project["Best Practices Badge ID"] and project["Best Practices Badge ID"] != 'none' and project["Best Practices Badge ID"] != 'False' -%}
            <a href="https://bestpractices.coreinfrastructure.org/projects/{{ project["Best Practices Badge ID"] }}"><img src="https://bestpractices.coreinfrastructure.org/projects/{{ project["Best Practices Badge ID"] }}/badge"></a>
            {%- endif -%}
        </td>
    </tr>
    {%- endif -%}
{%- endfor -%}
</tbody>
</table>
