
<table class="sortable">
<thead>
    <tr>
        <th>Project</th>
        <th>Current Level</th>
        <th>Initially Accepted</th>
        <th>Last Review Date</th>
        <th>Next Review Date</th>
    </tr>
</thead>
<tbody>
{%- for project in site.data.projects -%}
    {%- if project["Level"] != 'emeritus' -%}
    <tr>
        <td>{{ project["Name"] }}</td>
        {%- assign level = project["Level"] | split: "-" -%}
        {%- capture level-camelcase -%}
        {%- for word in level %}{{ word | capitalize }} {% endfor -%}
        {%- endcapture -%}
        <td>{{ level-camelcase }}</td>
        <td>{{ project["Accepted Date"] | replace: "^", "" | date: "%F" }}</td>
        <td>{{ project["Last Review Date"] | replace: "^", "" | date: "%F" }}</td>
        <td>{{ project["Next Review Date"] | replace: "^", "" | date: "%F" }}</td>
    </tr>
    {%- endif -%}
{%- endfor -%}
</tbody>
</table>
<link rel="stylesheet" href="../css/sorTable.css">
<script src="../js/sorTable.min.js"></script>
