
<table class="sortable">
<thead>
    <tr>
        <th>Representative</th>
        <th>Appointed By</th>
        <th>Role</th>
        <th>Organization</th>
    </tr>
</thead>
<tbody>
{%- for member in site.data.tacmembers -%}
{%- if member["Appointed By"] == "Membership Entitlement" -%}
    <tr>
        <td>{{ member["Full Name"] }}</td>
        <td>{{ site.membership_top_tier | default: "Premier" }} Member Representative</td>
        <td>{% if member["Special Role"] != "None" %}{{ member["Special Role"] }} - {% endif %}{{ member["Voting Status"] }}</td>
        <td>{{ member["Account Name: Account Name"] }}</td>
    </tr>
{%- endif -%}
{%- endfor -%}
{%- for member in site.data.tacmembers -%}
{%- if member["Appointed By"] == "Vote of TSC Committee" and member['Voting Status'] != 'Observer' -%}
    <tr>
        <td>{{ member["Full Name"] }}</td>
        <td>
        {%- for project in site.data.projects -%}
        {%- if project["TAC Representative"] contains member["Full Name"] -%}
        {{ project["Name"] }} Representative
        {%- elsif project["Chair"] contains member["Full Name"] -%}
        {{ project["Name"] }} Representative
        {%- endif -%}
        {%- endfor -%}
        </td>
        <td>{% if member["Special Role"] == "Chair" %}Chairperson - {% endif %}{{ member["Voting Status"] }}</td>
        <td>{{ member["Account Name: Account Name"] }}</td>
    </tr>
{%- endif -%}
{%- endfor -%}
{%- for member in site.data.tacmembers -%}
{%- if member["Appointed By"] == "Vote of TAC Committee" -%}
    <tr>
        <td>{{ member["Full Name"] }}</td>
        <td>{{ site.vote_of_tac_committee_title | default: "Other Representative" }}</td>
        <td>{% if member["Special Role"] == "Chair" %}Chairperson - {% endif %}{{ member["Voting Status"] }}</td>
        <td>{{ member["Account Name: Account Name"] }}</td>
    </tr>
{%- endif -%}
{%- endfor -%}
</tbody>
</table>
<link rel="stylesheet" href="css/sorTable.css">
<script src="js/sorTable.min.js"></script>
